<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h1 class="text-center" th:text="${user.userName}"> Your Profile </h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col"><span th:text="${user.userId}"></span> </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${user.email}"></span></td>
                        </tr>
                        </tbody>

                        <tbody>
                        <tr>
                            <th scope="row">Role</th>
                            <td><span th:text="${user.role}"></span></td>
                        </tr>
                        </tbody>

                        <tbody>
                        <tr>
                            <th scope="row">Username</th>
                            <td><span th:text="${user.userName}"></span></td>
                        </tr>
                        </tbody>

                        <tbody>
                        <tr>
                            <th scope="row">Active</th>
                            <td><span th:text="${user.enabled}"></span></td>
                        </tr>
                        </tbody>

                        <tbody>
                        <tr>
                            <th scope="row">About</th>
                            <td><span th:text="${user.about}"></span></td>
                        </tr>
                        </tbody>


                    </table>

                </div>


            </div>
        </div>
    </div>


</section>
</body>
</html>