<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Show Contacts</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Your Contacts </h1>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Work</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="${c.cId}">1</th>
                    <td th:text="${c.cName}"></td>
                    <td>
                        <a th:href="@{'/user/contact/'+${c.cId}}">
                        <span th:text="${c.cEmail}"></span>
                    </td>
                    </a>
                    <td th:text="${c.work}"></td>
                    <td th:text="${c.phone}"></td>
                    <td>
                        <!--<a th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a>-->
                        <a  th:onclick="|deleteContact(${c.cId})|"
                            class="btn btn-danger btn-sm">Delete</a>
                        <form method="post" th:action="@{'/user/update_contact/'+${c.cId}}" class="mt-2">
                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                        </form>
                    </td>
                </tr>

                </tbody>

            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage!= 0}" class="page-item">
                        <a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage-1}}">
                            Previous</a></li>

                    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}"
                        class="page-item"><a class="page-link" th:href="@{'/user/show_contacts/'+${i-1}}">
                        <span th:text="${i}"></span></a></li>


                    <li th:if="${currentPage+1 !=  totalPages}"
                            class="page-item"><a class="page-link"
                                                 th:href="@{'/user/show_contacts/'+${currentPage+1}}">Next</a></li>
                </ul>
            </nav>

        </div>
    </div>


</section>
</body>
</html>